.vercel
*.log
*.pyc
__pycache__
db.sqlite3
media
client_secret_865562685573-fj4vfc3cgh43878n13lq82mivkfcqr5g.apps.googleusercontent.com.json

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
.space