{% extends 'portal/index.html' %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <style>

        </style>
    </head>

    {% block content %}
    <body class="vh-100 vw-100" style="background-color:#2E4E6F">
        <div class="w-50 h-75 mx-auto border border-5 border-dark shadow" style="background-color: lightgray; margin-top: 2.5%; border-radius: 5%;">
            {% comment %} enctype allows files to be uploaded with the form for image data {% endcomment %}
            <form method="POST">
                <div class='fw-bold fs-2 text-center'>Add New Event</div>

                <div class='w-75 mx-auto d-flex flex-column'>
                    <p>Event Date</p>
                    {% csrf_token %}
                    {{ form.date }}

                    <p>Event Name</p>
                    {% csrf_token %}
                    {{ form.event_name }}

                    <p>Notes</p>
                    {% csrf_token %}
                    {{ form.date }}
                </div>

                <div class="d-flex w-50 mx-auto mt-5 justify-content-between">
                    {% comment %} Django views are able to grab the values in the templates by their "name" {% endcomment %}
                    <input type="submit" value="Submit" name="Submit" class="btn btn-primary px-3 fw-bold" style="width:33%;">
                    <input type="submit" value="Cancel" name="Cancel" class="btn btn-danger px-3 fw-bold" style="width:33%;">
                </div>
            </form>
        </div>
    </body>
    {% endblock content %}
</html>