{% extends 'portal/portal.html' %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% load socialaccount %}
        <style>

        </style>
    </head>
    {% block content %}
    <body class="vh-100 vw-100" style="background-color:#2E4E6F">
        <div class='w-50 border border-dark border-2 shadow mx-auto mt-4' style='background-color: lightgray; border-radius: 30px; height: 75%;'>
            <div class='fw-bold text-center fs-2 mt-3'>Customize Portal</div>
            
            <form method="POST">
                {% csrf_token %}
                <div class='d-flex justify-content-evenly mt-3'>
                    <div>
                        <input type="checkbox" {% if is_log %} checked {% endif %} class='d-inline-block' onChange="this.form.submit()" name='logistics'>
                        <div class='d-inline-block'>Logistics</div>
                    </div>
                    <div>
                        <input type="checkbox" {% if is_pp %} checked {% endif %} class='d-inline-block' onChange="this.form.submit()" name='practice'>
                        <div class='d-inline-block'>Practice Plans</div>
                    </div>
                    <div>
                        <input type="checkbox" {% if is_db %} checked {% endif %} class='d-inline-block' onChange="this.form.submit()" name='discussion'>
                        <div class='d-inline-block'>Discussion Board</div>
                    </div>
                    <div>
                        <input type="checkbox" {% if is_fr %} checked {% endif %} class='d-inline-block' onChange="this.form.submit()" name='film'>
                        <div class='d-inline-block'>Film Room</div>
                    </div>
                </div>
            </form>

            <div class='fw-bold text-center fs-2'>
                Manage Team Members
            </div>
            <a href="/portal/{{ name }}/search_player/" style='font-size: 12px;' class='d-block fw-bold text-center'>Add Players</a>

            <div class='mt-2 mx-auto' style='width: 80%;'>
                {% for player in team_players %}
                    {% if forloop.first %}<div class="row">{% endif %}
                    {% comment %} creating a 2xn grid of all players on the roster {% endcomment %}
                    <div class='w-50 my-1'>
                        <div class="d-inline fw-bold {% if player not in team_admin %} me-1 {% endif %}" style="font-size: 11px;">{{ player.name }} </div>
                        
                        {% comment %} controls for granting/removing admin privileges {% endcomment %}
                        {% if player in team_admin %}
                        <div class='d-inline me-1' style='color: gray; font-size: 11px;'>(Admin)</div>
                        <a href="/portal/{{ name }}/remove_admin/{{ player.id }}/" class='d-inline-block text-white p-1 rounded-3 text-decoration-none' 
                        style='background-color: red; font-size: 11px;' title="Remove Admin">
                            &#9746 Admin
                        </a>
                        {% else %}
                        <a href="/portal/{{ name }}/grant_admin/{{ player.id }}/" class='d-inline-block text-white p-1 rounded-3 text-decoration-none'
                        style='background-color: green; font-size: 11px;' title="Grant Admin">
                            &#9745 Admin
                        </a>
                        {% endif %}
                        <a href="/portal/{{ name }}/remove_player/{{ player.id }}/" class='d-inline-block text-white p-1 rounded-3 text-decoration-none'
                        style='background-color: red; font-size: 11px;' title="Remove Player">
                            &#9746 Player
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
                {% endfor %}
            </div>
        </div>
            
        </div>
    </body>
    {% endblock content %}
</html>