{% extends 'portal/index.html' %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% load socialaccount %}
        <style>

        </style>
    </head>
    {% block content %}
    <body class="vh-100 vw-100" style="background-color:#2E4E6F">
        <div class='w-50 border border-dark border-2 shadow mx-auto mt-4' style='background-color: lightgray; border-radius: 30px; height: 65%;'>
            <div class='d-flex'>
                <div>
                    {% if activeUser.profile_img %}
                        <img src="{{ activeUser.profile_img.url }}" alt="Profile Image" style="height: 170px; width: 170px; border-radius: 50%;" class='shadow mt-4 ms-4'>
                    {% else %}
                        <img src="{{ user.socialaccount_set.all.0.extra_data.picture }}" alt="Profile Image" style="border-radius: 50%;" class='shadow mt-4 ms-4'>
                    {% endif %}
                </div>

                <div class='mx-auto mt-5'>
                    <div class='fw-bold fs-1'>{{ activeUser.name }}</div>
                    <div class='fw-bold fs-2'>{{ activeUser.team }}</div>
                    <div>
                        <div class='d-inline-block fs-2'>{{ activeUser.year }} #{{ activeUser.number }}</div>
                        <a href='/edit_profile/'class='d-inline-block fw-bold ms-4' style='color: blue'>Edit Profile &#x1F58A</a>
                    </div>
                </div>
            </div>

            <div class='d-flex justify-content-evenly mt-5'>
                <div>
                    <div class="fw-bold fs-4">Personal Information</div>
                    <div class='d-inline-block fw-bold'>
                        <div class='py-1'>Email:</div>
                        <div class='py-1'>Favorite Throw:</div>
                        <div class='py-1'>Teams On:</div>
                    </div>

                    <div class='d-inline-block ms-3'>
                        <div class='py-1'>{{ activeUser.email }}</div>
                        {% if activeUser.fav_throw == "" %}
                            <div class='py-1'>Not Updated</div>
                        {% else %}
                            <div class='py-1'>{{ activeUser.fav_throw }}</div>
                        {% endif %}

                        {% for team in allowed_teams %}
                            <div class='py-1'>{{ team.name }} </div>
                        {% comment %} if the user has no allowed teams {% endcomment %}
                        {% empty %}
                            <div class='py-1'>No Teams</div>
                        {% endfor %}
                    </div>
                </div>
                
                {% comment %} Pull data from some website or allow the user to enter their own player history {% endcomment %}
                <div>
                    <div class="fw-bold fs-4">Player History</div>
                </div>
            </div>
        </div>
    </body>
    {% endblock content %}
</html>