{% extends 'portal/portal.html' %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% load socialaccount %}
    </head>
    {% block content %}
    <body class="vh-100 vw-100" style="background-color:#2E4E6F">
        <div class='text-center w-100'>
            {% comment %} any forms that use POST requests must have a csrf token for security {% endcomment %}
            <form method="GET" class='mb-0'>
                {% comment %} Autofocus means that the cursor automatically chooses the text bar and onfocus with selectionRange means that the cursor is put
                at the very end of the current input, which it knows from the value field. Each time the user has a keyup event this form is submitted and filtering is 
                done on the backend. This gives the search bar a modern feel as users dont need to click anything for filtering and results are displayed below {% endcomment %}
                <input type="text" autofocus="True" onfocus="this.setSelectionRange({{length_input}},{{length_input}})" placeholder="Find your teammates..." 
                class='w-50 p-2 rounded-3 mt-5 mb-1' name='player_search' value="{{player_inputted}}" onkeyup="this.form.submit()">
            </form>
            <div class='w-50' style='position: absolute; left:25%;'> 
                {% for player in all_players %}
                {% comment %} Anchor tags by default are type inline so if you specify d-block the width behaves as normal {% endcomment %}
                    <a class='fw-bold py-2 border border-dark border-3 rounded-3 d-block w-100' style='text-decoration: none;' id="player_searched"
                    href="/portal/{{ name }}/add_player/{{ player.id }}">{{ player.name }}</a>
                {% endfor %}
            </div>
        </div>
    </body>
    {% endblock content %}
</html>