{% extends 'portal/index.html' %}
{% comment %} this copies the default header bar for users who havent joined a portal yet {% endcomment %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% load socialaccount %}
        <style>

        </style>
    </head>
    {% block content %}
    <body class="vh-100 vw-100" style="background-color:#2E4E6F">
        <div class='w-50 h-50 border border-3 border-danger shadow mx-auto mt-5 rounded rounded-3' style='background-color: lightgray;'>
            <div class='fs-5 p-5 fw-bold border border-2 border-dark rounded rounded-3 m-3'>
                You are seeing this text because you are not logged into any account.<br><br>
                Please <a href="{% provider_login_url 'google' %}">sign in</a> so we can verify that you are allowed to see this teams portal.<br><br>
                If you would not like to login you can also return back to our <a href='/'>home page</a>
            </div>            
        </div>
    </body>
    {% endblock content %}

</html>